* {
  flex: 0 0 0%;
  box-sizing: border-box;
}

#holygrail-container {
  flex-direction: column;
  display: flex;
}

main {
  display: flex;
  flex: 1 1 0%;
}

nav, aside {
  flex: 0 0 26%;
}

header, footer {
  flex: 0 0 8%;
  align-items: center;
}

main > section {
  flex: 1 0 0%;
}

header, footer, nav, aside, main > section {
  display: flex;
  justify-content: center;
}