.gallery .arrows {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}


.gallery .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 50px;
}

.gallery ul {
  display: flex;
  overflow-x: hidden;
}